{{ $num_images := 1 }}
{{ if .images }}
{{ $num_images := (len .images) }}
{{ end }}
{{ $slide_duration := (add (mul 100 ( index (seq 5 | shuffle) 0)) (div 10000 $num_images)) }}
<section class="w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0 {{ .sectionclass }}">
  <div class="w-full flex flex-col space-y-4 lg:flex-row lg:space-y-0 items-center lg:space-x-0 justify-between {{ .divclass }}">
    {{ if .video }}
    <div class='w-full max-w-xl {{if .image_right }}lg:order-2 lg:pl-8{{else}}lg:order-1 lg:pr-8{{end}}'>
      {{ with .video }}
      {{ partial "bookshop" ( slice "video" (dict "heading" .heading "divclass" .divclass "youtubeID" .youtubeID "text" .text )) }}
      {{ end }}
    </div>
    {{ else if .images }}
    <div class='MagicSlideshow rounded-lg w-full max-w-xl {{if .image_right }}lg:order-2 lg:pl-8{{else}}lg:order-1 lg:pr-8{{end}}' data-options="effect: fade; caption:{{if .captions}}true{{else}}false{{end}}; slide-duration: {{$slide_duration}}; width: 100%; height=100%;">
      {{ range .images }}
      {{ if .link }}<a href="{{ .link }}">{{ end }}
        <img src="{{ .src | safeURL }}?auto=compress,format{{ with .width }}&w={{ . }}{{ end }}" class="rounded-lg" {{ with .caption }}data-caption='{{ . }}' {{ end }} {{ with .width }}width='{{ . }}' {{ end }} {{ with .title }}title='{{ . }}' {{ end }} />
        {{ if .link }}</a>{{ end }}
      {{ end }}
    </div>
    {{ end }}
    <div class="flex flex-col w-full max-w-7xl mx-auto space-y-4 {{if .image_right }}lg:order-1 {{else}}lg:order-2{{end}}">
      <h3 class="text-2xl font-bold text-asfpurple {{ .headingclass }}">{{ .heading }}</h3>
      {{ if .subheading }}
      <h4 class="text-xl font-bold {{ .subheadingclass }}">{{ .subheading }}</h4>
      {{end}}
      <div class="prose max-w-none {{ .textclass }}">
        {{markdownify .text}}
      </div>
      {{if .url }}
      <a href="{{.url}}" class="btn inline-block max-w-fit px-4 py-2 {{ .actionclass }}">
        {{.action}}
      </a>
      {{ end }}
    </div>
  </div>
</section>