<div class="flex flex-col sm:flex-row items-center shadow bg-slate-100 rounded-lg mb-8">
  <div class="block shrink-0 bg-cover bg-center bg-no-repeat h-40 w-full md:w-40 rounded-t-lg rounded-b-none md:rounded-r-none md:rounded-l-lg" style="background-image: url('{{.Params.featuredImage}}?w=400');"></div>
  <div class="p-4 sm:px-4 ">
    <div class="prose max-w-none">
      <h3>
        <a class="text-asfpurple font-bold no-underline mt-0" name="{{ .Title }}" href="{{ .RelPermalink }}">
          {{.Title}}
        </a>
      </h3>
    </div>
    {{if or (.Date) (.GetTerms "categories") }}
    <div class="text-xs text-gray-500">
      <ul class="flex flex-row items-start space-x-2">
        <li class="list-none whitespace-nowrap">
          <i class="icon-calendar3"></i>
          {{ .Date.Format "January 2, 2006" -}}
        </li>
        {{if .GetTerms "categories"}}
        <li class="hidden sm:inline-block list-none">
          &nbsp;⋮&nbsp;
        </li>
        <li class="list-none">
          <i class="icon-folder-open"></i>
          {{ range $k , $v := .GetTerms "categories" }}
          {{- if $k -}}&&nbsp;{{- end -}}
          <a class="text-xs text-gray-500" href="/categories/{{ .LinkTitle | urlize }}">
            {{- replace (.LinkTitle | upper) "-" " " -}}
          </a>
          {{ end -}}
        </li>
        {{end}}
      </ul>
    </div>
    {{end}}
    <div class="prose max-w-none pt-4">
      {{ first 200 .Description }} {{if ( gt (len .Description) 200 ) }}<a name="{{ .Title }}" href="{{ .RelPermalink }}" class="more-link">... Read more</a>{{ end }}</div>
  </div>
</div>