<div class="bg-slate-100 flex flex-col rounded-lg shadow p-4">
  <div class="prose max-w-none">
    <h3>
      <a class="text-asfpurple font-bold no-underline mt-0" name="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
  </div>
  <div class="text-xs text-gray-500">
    <ul class="flex flex-row items-start space-x-2">
      {{ with .Params.est }}
      <li>
        <i class="icon-calendar3"></i>
        Scholarship Established:&nbsp;{{ . }}
      </li>
      {{ end }}
      {{ if .Params.areas }}
      <li class="hidden sm:inline-block list-none">
        &nbsp;⋮&nbsp;
      </li>
      <li><i class="icon-folder-open"></i>
        {{ range $k, $v := .GetTerms "areas" }}
        {{ if $k }}&&nbsp;{{ end }}
        <a name="{{ .Title }}" class="text-xs text-gray-500" href="/areas/{{ $v.LinkTitle | urlize }}">{{ $v.LinkTitle | upper }}</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="prose max-w-none pt-4">
    {{ first 150 .Description }}
    {{ if ge (len .Description) 151 }}
    <a name="Read-more" href="{{ .RelPermalink }}" class="more-link">... Read more</a>
    {{end}}
  </div>
</div>