<div class="w-full prose max-w-none">
  <h2>Scholarship Recipients</h2>
  <div class="MagicScroll" data-options="speed: 10000; step: 0; draggable: true; height: 250px;">
    {{ range . }}
    <figure class="pr-8">
      {{ if .scholarshipImage }}
      <img src="{{ .scholarshipImage }}?w=250" width="250" alt="{{ .name }}" class="rounded-lg">
      {{ else }}
      <img src="https://asfmedia.imgix.net/no-photo-01.jpg?auto=compress,format" alt="No Photo Available" class="rounded" width="250">
      {{ end }}
      <figcaption>
        <p>{{ .year }}<br>{{ .name }}</p>
      </figcaption>
    </figure>
    {{ end }}
  </div>
</div>