{{$slide_duration := 2500}}
<section class="w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0 {{ with .sectionclass}}{{.}}{{end}}">
  <!-- Grid -->
  <div class="grid grid-cols-1 gap-8 {{if not .singleColumn}}md:grid-cols-2 lg:grid-cols-3{{end}}">
    <!-- Card -->
    {{ range .cards }}
    <div class="shadow rounded py-4 px-4">
      {{ if .images }}
      {{$slide_duration = (add (mul 100 ( index (seq 5 | shuffle) 0)) (div 10000 (len .images)))}}
      <div class="MagicSlideshow p-0 mb-2 not-prose" data-options="effect: fade; caption: false; slide-duration: {{$slide_duration}}; width: 100%; height=100%;">
        {{ range .images }}
        <img src="{{.src}}?w=600&auto=compress,format" width="600" alt="{{.title}}">
        {{ end }}
      </div>
      {{ end }}
      <div class="card-body prose">
        <h3 class="font-bold mb-0">
          {{.heading}}
        </h3>
        {{ with .subheading }}
        <h4>
          {{markdownify .}}
        </h4>
        {{ end }}
        {{ with .text }}
        <p class="mb-0">
          {{markdownify .}}
        </p>
        {{ end }}
        {{ if .cta_text}}
        <p class="flex-grow mt-1">
          <a class="btn float-right" name="{{.cta_text}}" href="{{.cta_url}}">{{.cta_text}}</a>
        </p>
        {{end}}
      </div>
    </div>
    {{ end }}
  </div>
</section>