<div data-pagefind-ignore class="w-full max-w-7xl mx-auto flex flex-row justify-between items-center">
  <div class="w-full h-px my-8 bg-asfpurple opacity-20 border-0"></div>
  <img src="https://asfmedia.imgix.net/asf-gray.png?w=100&auto=compress,format" alt="Anacortes Schools Foundation" width="100">
  <div class="w-full h-px my-8 bg-asfpurple opacity-20 border-0"></div>
</div>