{{ $slide_duration := (add (mul 100 ( index (seq 5 | shuffle) 0)) (div 10000 (len .images))) }}
<div class="w-full mx-auto{{.divclass}}">
  <div class='MagicSlideshow mx-auto shrink' data-options="effect: fade; caption:{{if .captions}}true{{else}}false{{end}}; slide-duration: {{$slide_duration}}; {{with .width}}width:{{.}}px;{{end}} {{with .height}}height:{{.}}px;{{end}}">
    {{ range .images }}
    <img src="{{.src}}?auto=compress,format{{with .width}}&w={{.}}{{end}}" alt="{{.title}}" title="{{.title}}" class="rounded-lg shrink">
    {{ end }}
  </div>
</div>