{{ $datafile := index site.Data "directors" }}
<div class="p-4 shadow bg-slate-100 rounded-lg mx-4">
  <h3 class="text-asfpurple text-2xl font-bold pb-2">Executive Board of Directors</h3>
  <div class="flex flex-col space-y-1 ml-4 mb-4">
    {{ range $datafile.directors }}
    {{ if .executive }}
    {{ if .url }}<a name="{{ .name }}" href="{{ .url }}">{{ end }}
      <div class="flex flex-row items-center">
        {{with .image }}
        <img class="block shrink-0 h-12 w-12 mr-4" src="{{ . }}?w=64" alt="">
        {{end}}
        <div>
          <div class="flex flex-row">
            {{ .name }}{{if .position }}, {{ .position }}{{ end }}
          </div>
          {{ with .note }}
          <div class="ml-4 text-sm text-slate-500">
            {{ . }}
          </div>
          {{end}}
        </div>
      </div>
      {{ if .url }}
    </a>{{ end }}
    {{ end }}
    {{ end }}
  </div>
  <h3 class="text-asfpurple text-2xl font-bold pb-2">Directors</h3>
  <div class="flex flex-col space-y-1 ml-4 mb-4">
    {{ range $datafile.directors }}
    {{ if not .executive }}
    {{ if .url }}<a name="{{ .name }}" href="{{ .url }}">{{ end }}
      <div class="flex flex-row items-center">
        {{with .image }}
        <img class="block shrink-0 h-12 w-12 mr-4" src="{{ .image }}?w=64" alt="">
        {{end}}
        <div>
          <div class="flex flex-row">
            {{ .name }}{{if .position }}, {{ .position }}{{ end }}
          </div>
          {{ with .note }}
          <div class="ml-4 text-sm text-slate-500">
            {{ . }}
          </div>
          {{end}}
        </div>
      </div>
      {{ if .url }}
    </a>{{ end }}
    {{ end }}
    {{ end }}
  </div>
</div>