/* assets */
@tailwind base;
@tailwind components;

a {
  @apply no-underline font-medium bg-transparent text-ultraviolet hover:text-asfpurple;
}

body {
  @apply text-blackenedpearl;
}

.btn {
  @apply bg-ultraviolet hover:bg-asfpurple text-white hover:text-white no-underline whitespace-nowrap px-4 py-2 rounded;
}

.news-btn {
  @apply btn text-xs;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  @apply text-ultraviolet;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

.mss-caption {
  @apply rounded-b-lg;
}

.mss-caption span {
  @apply rounded-b-lg;
}

.mss-html-block {
  @apply rounded-b-lg;
}

.sponsors [class^="col-"] {
  position: relative;
}

.sponsors-25k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 350px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-25k-sm [class^="col-"] > a {
  display: block;
  position: relative;
  height: 125px;
  margin-bottom: 10px;
}

.sponsors-20k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 300px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-15k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 250px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-10k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 175px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-10k-sm [class^="col-"] > a {
  display: block;
  position: relative;
  height: 80px;
  background-color: #eee;
  margin-bottom: 10px;
}

.sponsors-5k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 150px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-5k-sm [class^="col-"] > a {
  display: block;
  position: relative;
  height: 80px;
  margin-bottom: 10px;
}

.sponsors-3k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 130px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-2k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 110px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-2k-sm [class^="col-"] > a {
  display: block;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
}

.sponsors-1k [class^="col-"] > a {
  display: block;
  position: relative;
  height: 90px;
  background-color: #eee;
  margin-bottom: 20px;
}

.sponsors-1k-sm [class^="col-"] > a {
  display: block;
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

.current {
  @apply bg-asfpurple text-white;
}

:root {
  --breakpoint: "unset";
}
@media screen and (min-width: 640px) {
  :root {
    --breakpoint: "sm";
  }
}
@media screen and (min-width: 768px) {
  :root {
    --breakpoint: "md";
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --breakpoint: "lg";
  }
}
@media screen and (min-width: 1280px) {
  :root {
    --breakpoint: "xl";
  }
}
@media screen and (min-width: 1536px) {
  :root {
    --breakpoint: "2xl";
  }
}

@tailwind utilities;
