<section class="text-lg w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0 gap-y-8 md:gap-y-0 md:gap-x-12 xl:gap-x-28 grid grid-cols-1 md:grid-cols-3">
    <div class="p-8 w-full mx-auto flex flex-col justify-start space-y-4 items-center bg-slate-50 rounded-lg">
        <a class="text-black font-extrabold" name="telephone" href="tel:3604882343">
            <i class="text-4xl icon-line-phone"></i>
        </a>
        <a class="flex flex-col justify-start items-center" name="telephone" href="tel:3604882343">
            <h3 class="text-black font-extrabold">Call</h3>
            <p class="text-blackenedpearl">Treva King</p>
            <p class="text-blackenedpearl">(360)488-2343</p>
        </a>
    </div>
    <div class="p-8 w-full mx-auto flex flex-col justify-start space-y-4 items-center bg-slate-50 rounded-lg">
        <a class="text-black font-extrabold" name="telephone" href="mailto:execdirector@asfkids.org">
            <i class="text-4xl icon-mail"></i>
        </a>
        <a class="flex flex-col justify-start items-center" name="send-email" href="mailto:execdirector@asfkids.org">
            <h3 class="text-black font-extrabold">Email</h3>
            <p class="text-blackenedpearl">execdirector@asfkids.org</p>
        </a>
    </div>
    <div class="p-8 w-full mx-auto flex flex-col justify-start space-y-4 items-center bg-slate-50 rounded-lg">
        <a class="text-black font-extrabold" name="send-mail" href="https://goo.gl/maps/nemvWpm4dC7mSyuQ9">
            <i class="text-4xl icon-location"></i>
        </a>
        <a class="flex flex-col justify-start items-center" href="https://goo.gl/maps/nemvWpm4dC7mSyuQ9">
            <h3 class="text-black font-extrabold">Mail</h3>
            <p class="text-blackenedpearl">
                Anacortes Schools Foundation<br>
                2200 M Ave<br>
                Anacortes, WA 98221
            </p>
        </a>
    </div>
</section>