<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Anacortes Schools Foundation" />

  <!-- OG Data -->
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />

  {{ with .Title }}
  <meta data-pagefind-default-meta="title[content]" name="title" property="og:title" content="{{ . }}" />
  {{ end }}

  {{ with .Description }}
  <meta name="description" property="og:description" content="{{ . }}" />
  {{ end }}

  {{ if .Params.FeaturedImage }}
  <meta data-pagefind-default-meta="image[content]" property="og:image" content="{{ .Params.FeaturedImage }}?w=200" />
  {{ else }}
  <meta data-pagefind-default-meta="image[content]" property="og:image" content="https://asfmedia.imgix.net/logo@2x.png?auto=compress,format">
  {{ end }}

  {{ with .Keywords }}
  <meta name="keywords" content='Anacortes schools foundation, ASF, {{ delimit . " " }}' />
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">

  <!-- Stylesheets
	============================================= -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200&family=Aleo:wght@700&family=Cinzel:wght@400;500&family=Dancing+Script&family=Great+Vibes&display=swap" />

  {{ $styles := resources.Get "/css/style.css" | postCSS }}
  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
  {{ end }}

  <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/custom.css" type="text/css" />

  <!--MagicScroll-->
  <link type="text/css" rel="stylesheet" href="/css/magicscroll.css" />
  <script type="text/javascript" src="/js/magicscroll.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/magicslideshow.css" />
  <script src="/js/magicslideshow.js" type="text/javascript"></script>

  <!-- Alpine Plugins -->
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs-breakpoints"></script>
  <!-- Alpine Core -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>