{{ $data := newScratch }}
{{ $data.Set "catcounter" 2 }}
{{ $data.Set "counter" 2 }}

<div data-pagefind-ignore x-data="{ openTab: 1 }" class="flex flex-col w-full">
  <div id="news-top" class="w-full flex flex-col md:flex-row items-start lg:items-center justify-between mb-2">
    <h3 class="text-asfpurple text-2xl font-bold whitespace-nowrap">
      <a name="news" href="/news">Latest News</a>
    </h3>
    <nav class="text-sm">
      <ul class="w-full flex flex-wrap justify-end space-x-2" role="tablist">
        <li @click="openTab = 1" class="mb-2 md:mb-0">
          <a class="block btn md:news-btn rounded py-1 px-2 whitespace-nowrap" id="nav-all-tab" href="#news-top" role="tab" aria-selected="true">
            {{ "All" | upper }}
          </a>
        </li>
        {{ range $key, $value := .Site.Taxonomies.categories }}
        <li @click='openTab = {{$data.Get "catcounter"}}' class="mb-2 md:mb-0">
          <a class="block btn md:news-btn rounded py-1 px-2 whitespace-nowrap" id="nav-{{ $key }}-tab" href="#news-top" role="tab" aria-selected="true">
            {{ replace ($key | upper) "-" " " }}
          </a>
        </li>
        {{ $data.Add "catcounter" 1 }}
        {{ end }}
      </ul>
    </nav>
  </div>
  <hr class="mb-4">
  <!-- Tab Content -->
  <div class="tab-content" id="nav-tabContent">
    <!-- All Tab -->
    <div x-show="openTab === 1" id="nav-all" class="w-full grid grid-cols-1 lg:grid-cols-2" role="tabpanel" aria-labelledby="nav-all-tab">
      <!-- Featured News -->
      <div class="col-span-1 flex flex-col">
        {{ partial "section_list" (dict "first" 1 "after" 0 "context" (where .Site.RegularPages "Section" "news")) }}
      </div>
      <div class="col-span-1 flex flex-col pt-8 lg:pt-0">
        {{ partial "section_list" (dict "first" 8 "after" 1 "context" (where .Site.RegularPages "Section" "news")) }}
      </div>
    </div>

    <!-- Dynamic Tabs -->
    {{ $catCount := (len .Site.Taxonomies.categories)}}
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <div x-show='openTab === {{$data.Get "counter"}}' id="nav-{{ $key }}" class="w-full grid grid-cols-1 md:grid-cols-2" role="tabpanel" aria-labelledby="nav-{{ $key }}-tab" style="display: none;">
      <!-- Featured Tab Article -->
      <div class="col-span-1 flex flex-col">
        {{ partial "section_list" (dict "first" 1 "after" 0 "context" $value.Pages) }}
      </div>
      <div class="col-span-1 flex flex-col pt-8 md:pt-0">
        {{ partial "section_list" (dict "first" 8 "after" 1 "context" $value.Pages) }}
      </div>
    </div>
    {{ $data.Add "counter" 1 }}
    {{ end }}
    <!-- Tab End -->
  </div>
</div>