<section data-pagefind-ignore id="page-title" class="page-title-parallax page-title-dark page-title-center include-topbar" style="background: url('{{ .Params.bannerImage }}?auto=compress,format') no-repeat center center / cover, #4b2e62; padding: 140px 0;" data-center="background-position: 0px 50%;?w=1440" data-top-bottom="background-position:0px 0px;">
  <div class="container clearfix">
    <h1>{{ .Title }}</h1>
    {{ partial "breadcrumb" . }}
  </div>
</section>