{{ $context := .context }}
{{ $first := .first }}
{{ $after := .after }}
{{ $sidebar := .sidebar }}

{{ if eq $first 1 }}
{{ range first $first $context }}
{{ template "section-featured" ( dict "page" . "sidebar" $sidebar ) }}
{{ end }}
{{else}}
{{ range first $first (after $after $context) }}
{{ template "section-list" ( dict "page" . "sidebar" $sidebar ) }}
{{ end }}
{{ end }}

{{ define "section-list" }}
<div data-pagefind-ignore class="flex flex-row space-x-4 {{if eq .sidebar true}}{{else}}lg:pl-4{{end}} py-2 first:pt-0">
  <div class='w-16 h-16 shrink-0 rounded bg-cover bg-no-repeat border border-gray-400 {{ partial "photo_position" .page.Params.photoPosition }}' style="background-image: url({{ .page.Params.featuredImage }}?w=62&h=62&fit=crop);" alt="Image for the article entitled: {{ .page.Title }}" title="Image for the article entitled: {{ .page.Title }}">
  </div>
  <div class="flex flex-col {{if .sidebar}}space-y-1{{else}}space-y-1{{end}}">
    <div>
      <h4><a href="{{ .page.Permalink }}">{{ .page.Title }}</a></h4>
    </div>
    {{if or (.page.Date) (.page.GetTerms "categories") }}
    <div class="text-xs text-gray-500">
      {{ if eq .sidebar true }}
      <ul class="flex flex-row items-start space-x-2">
        {{else}}
        <ul class="flex flex-col items-start space-y-2 sm:flex-row sm:space-x-2 sm:space-y-0"></ul>
        {{ end }}
        <li class="list-none whitespace-nowrap">
          <i class="icon-calendar3"></i>
          {{ .page.Date.Format "January 2, 2006" -}}
        </li>
        {{if .page.GetTerms "categories"}}
        {{ if eq .sidebar false }}
        <li class="hidden sm:inline-block list-none">
          &nbsp;⋮&nbsp;
        </li>
        {{ end }}
        <li class="list-none">
          <i class="icon-folder-open"></i>
          {{ range $k , $v := .page.GetTerms "categories" }}
          {{- if $k -}}&&nbsp;{{- end -}}
          <a class="text-xs te{ .xt-gray-500" href="/categories/{{ .LinkTitle | urlize }}">
            {{- replace (.LinkTitle | upper) "-" " " -}}
          </a>
          {{ end -}}
        </li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </div>
</div>
{{ end }}

{{ define "section-featured" }}
<div class="w-full">
  <a href="{{ .page.Permalink }}">
    <img src="{{ .page.Params.featuredImage }}?w=690&auto=compress,format" width="690" alt="Image for the article entitled: {{ .page.Title }}" title="Image for the article entitled: {{ .page.Title }}">
  </a>
</div>
<div>
  <h3 class="text-ultraviolet text-lg my-2">
    <a href="{{ .page.Permalink }}">{{ .page.Title }}</a>
  </h3>
</div>
{{if or (.page.Date) (.page.GetTerms "categories") }}
<div class="text-sm text-gray-500">
  <ul class="flex flex-row space-x-2">
    <li class="whitespace-nowrap">
      <i class="icon-calendar3"></i>
      {{ .page.Date.Format "January 2, 2006" -}}
    </li>
    {{if .page.GetTerms "categories"}}
    <li>
      &nbsp;⋮&nbsp;
    </li>
    <li>
      <i class="icon-folder-open"></i>
      {{ range $k , $v := .page.GetTerms "categories" }}
      {{- if $k -}}&&nbsp;{{- end -}}
      <a class="whitespace-nowrap" href="/categories/{{ .LinkTitle | urlize }}">{{- replace
        (.LinkTitle | upper)
        "-" " " -}}</a>
      {{ end -}}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
<div class="prose max-w-none pt-2">
  {{ .page.Description }}
</div>
{{ end }}