{{ $image_width := 100 }}
{{with .width}}
{{ $image_width = . }}
{{end}}

<section data-pagefind-ignore class="w-full max-w-7xl mx-auto clear-both flex flex-col py-8 px-4 2xl:px-0 {{with .sectionclass}}{{.}}{{end}}">
  {{ if or .message.heading .message.text }}
  <div class="mb-4">
    {{ if .message.heading }}
    <h3 class="text-asfpurple text-2xl font-bold mb-2">
      {{ if .message.url }}
      <a href="{{ .message.url }}">
        {{ end }}
        {{ .message.heading }}
        {{ if .message.url }}
      </a>
      {{ end }}
    </h3>
    {{ end }}
    {{ with .message.text }}
    <div class="prose max-w-none">
      <p>{{ . }}</p>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="MagicScroll" data-options="speed: {{ .speed }}; autoplay: 200; step: 0; items: [ [600,2], [800,5], [1000,6], [1200,7], [1500,8] ];">
    {{ range (shuffle .images) }}
    <a name="{{ .name }}" href="{{ .url }}" target="_blank" rel="noopener">
      <img width="{{$image_width}}" src="{{ .image }}?auto=compress,format{{with $image_width}}&w={{.}}{{end}}" alt="{{ .name }}" title="{{ .name }}" />
    </a>
    {{ end }}
  </div>
</section>