{{ define "main"}}
<section class="mx-auto max-w-7xl w-full flex flex-col flex-grow py-8 px-4 lg:px-0" role="main">
    <div class="row justify-content-between align-items-center mt-4 col-mb-50 mb-4">
        <div class="prose">
            <h1>Page Not Found</h1>
            <p>We can't find the page you're looking for. It might have relocated or been removed. Try searching for it, or use one of the links below!</p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6">
        <div class="col-span-1 p-2">
            <div class="shadow border">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>Homepage</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/">Home</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="card shadow border-light">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>What We Do</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/programs">All Programs</a>
                    <a href="/programs/celebrate-the-season">Celebrate the Season</a>
                    <a href="/programs/run">Fueling Education Run</a>
                    <a href="/programs/readytolearn">Ready to Learn Fair</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="card shadow border-light">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>News</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/news">All News</a>
                    <a href="/categories/covid/">COVID News</a>
                    <a href="/categories/scholarships/">Scholarship News</a>
                    <a href="/categories/stem/">STEM News</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="card shadow border-light">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>Scholarships</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/scholarships#all">All Scholarships</a>
                    <a href="/scholarships/apply">How to Apply</a>
                    <a href="/scholarships/faq">Questions?</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="card shadow border-light">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>Giving</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/giving">Make a Donation</a>
                    <a href="/giving/legacy">Legacy Donation</a>
                    <a href="/giving/sponsor">Be a Sponsor</a>
                    <a href="/giving/scholarship/">Scholarship Support</a>
                </div>
            </div>
        </div>
        <div class="col-span-1 p-2">
            <div class="card shadow border-light">
                <div class="p-2 text-white bg-asfpurple text-center font-bold">
                    <h4>About</h4>
                </div>
                <div class="p-4 flex flex-col space-y-2 text-sm">
                    <a href="/about">About Us</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/volunteer">Volunteer with Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}