<section class="w-full max-w-7xl mx-auto clear-both py-8 2xl:px-0">
  <article role="main" class="flex flex-col space-y-4">
    <!-- Heading -->
    <div class="prose max-w-none">
      <h1>{{ page.Title }}</h1>
    </div>
    <!-- End Heading -->
    <!-- Meta Info -->
    <div class="text-sm text-gray-500 pb-4">
      <ul class="flex flex-col space-y-2 sm:flex-row sm:space-x-2 sm:space-y-0">
        <li class="whitespace-nowrap">
          <i class="icon-calendar3"></i>
          Scholarship Established:
          {{ page.Params.est }}
        </li>
        <li class="hidden sm:inline-block">
          &nbsp;⋮&nbsp;
        </li>
        <li>
          <i class="icon-folder-open"></i>
          {{ range $k , $v := page.Params.areas }}
          {{ if $k }}&&nbsp;{{ end }}
          <a class="whitespace-nowrap" href="/areas/{{ . | urlize }}">
            {{ replace ( . | upper ) "-" " " }}
          </a>
          {{ end }}
        </li>
      </ul>
    </div>
    <!-- End Meta Info -->
    <!-- Featured Image, Description and Main Content -->
    <div class="prose max-w-none">
      {{ if or (page.Params.featuredImage) (page.Params.donorImage) }}
      <figure class="shrink-0 w-full sm:w-auto sm:float-right not-prose ml-8 mb-2">
        <a name="{{ page.Title }}" href="{{ page.Params.featuredImage }}?auto=compress,format" data-lightbox="image" title="{{ page.Title }}">
          <img src="{{ page.Params.featuredImage }}?w=200&auto=compress,format" alt="{{ page.Title}}" class="rounded w-full sm:w-auto" width="200" loading="lazy">
        </a>
        {{ if page.Params.featuredPhotoCredit }}
        <figcaption class="text-xs text-right mb-0">
          Photo by:
          <a href="{{ page.Params.featuredPhotoWebsite }}" target="_blank" rel="noopener">
            {{ page.Params.featuredPhotoCredit }}
          </a>
        </figcaption>
        {{ end }}
      </figure>
      {{end}}
      <div>
        <span class="italic font-semibold">
          {{ page.Description}}
        </span>
        <br>
        {{ markdownify .content }}
      </div>
    </div>
    <!-- End Featured Image, Description and Main Content -->
    <!-- Application Form Button -->
    {{ if site.Params.applicationsOpen }}
    <div class="pb-4">
      <a href="{{ site.Params.applicationFormLink }}" target="_blank" rel="noopener" class="btn">Apply Here</a>
    </div>
    {{ end }}
    <!-- End Application Form Button -->
    {{ with page.Params.recipients }}
    {{ partial "widgets/recipients" . }}
    {{ end }}
    {{ partial "bookshop" (slice "asf-divider" .) }}
    {{ partial "prevnext-scholarship" page }}
  </article>
</section>