<section class="text-center">
  <div class="py-8" style="background-image: linear-gradient(to right, rgba(153,155,155,0), rgba(153,155,155,.5),  rgba(153,155,155,0));">
    <div class="MagicSlideshow mx-auto lg:h-[620px]" data-options="show-loader:true; kenburns: true; selectors: bottom; selectors-style: thumbnails; caption-effect: dissolve;">
      {{ $slideNumber := 1 }}
      {{ range .slides }}
      <img src="{{ .image }}?w=800&auto=compress,format" title="{{ .heading }}" data-thumb-image="{{ .image }}?w=105" data-thumb-width="105" data-thumb-height="70" data-caption="<div class='row justify-content-between align-items-center px-3 pb-4'>
                    {{ if (or .description .meta) }}
                    <div class='col-sm-12 col-md-9'>
                        {{ with .description }}
                        <p>{{ . }}</p>
                        {{ end }}
                        {{ with .meta }}
                        <small>{{ . | safeHTML }}</small>
                        {{ end }}
                    </div>
                    {{ end }}
                    {{ if .link_url }}
                    <div class='col-md-3 pt-4 d-none d-md-block'>
                        <a name='Read-more' class='button button-mini button-dark button-rounded' href='{{ .link_url }}'>
                            {{ .link_text }}
                        </a>
                    </div>
                    {{ end }}
                </div>" alt="{{ .heading }}">
      {{ $slideNumber = add $slideNumber 1 }}
      {{ end }}
    </div>
  </div>
</section>