{{ if .Site.Params.applicationsOpen }}
<p>Simply click the "Apply" button below to begin the application process and don't forget - <strong>all applications must be submitted no later than NOON on the application deadline. </strong> </p>
<div class="not-prose">
    <a name="scholarship-application" href="https://www.cognitoforms.com/AnacortesSchoolsFoundation/_2023GeneralScholarshipApplication" target="_blank" rel="noopener" class="btn">Apply Now</a>
</div>
{{ else }}
<p>The application window for 2023 scholarships is closed. To apply for a scholarship for the 2024-2025 school year, please check back here in April 2024. </p>
{{ end }}