<div class="MagicScroll" data-options="height: 100px; speed: {{ $.Page.Params.speed }}; autoplay: 200;  step: 0; items: [ [600,2], [800,5], [1000,6], [1200,7], [1500,8] ];">
  {{ range (shuffle $.Page.Params.sponsors) }}
  <a href="{{ .url }}" target="_blank" rel="noopener"><img src='{{ .image }}?w=158&auto=compress,format' alt="{{ .name }}" title="{{ .name }}"></a>
  {{ end }}
</div>