{{ $filename := .filename }}
{{ $datafile := index site.Data $filename }}
{{ $col_span := "col-span-6" }}
{{ $col_height := "h-80" }}
{{ $div_pad := "px-4" }}
{{ $background := "" }}

<section class="w-full max-w-7xl mx-auto clear-both py-8 px-4 2xl:px-0 space-y-4">
  <h2 class="text-2xl text-center font-bold {{.headingclass}}">
    {{markdownify .title}}
  </h2>
  {{range seq 6}}
  <div class="grid grid-cols-6 gap-4">
    {{ range (sort ( where $datafile "tier" . ) "amount" "desc" ) }}
    {{ if (eq 1 (int .tier)) }}
    {{ $col_span = "col-span-full" }}
    {{ $col_height = "h-auto lg:h-52 my-4" }}
    {{ $div_pad = "px-2 lg:px-0" }}
    {{ else if (eq 2 (int .tier)) }}
    {{ $col_span = "col-span-full" }}
    {{ $col_height = "h-auto lg:h-44 my-8" }}
    {{ $div_pad = "px-4 md:px-1 lg:px-0" }}
    {{ else if (eq 3 (int .tier)) }}
    {{ $col_span = "col-span-full sm:col-span-3 lg:col-span-3" }}
    {{ $col_height = "h-auto lg:h-36 my-8" }}
    {{ $div_pad = "px-8 md:px-4 lg:px-0" }}
    {{ else if (eq 4 (int .tier)) }}
    {{ $col_span = "col-span-full sm:col-span-3 lg:col-span-3" }}
    {{ $col_height = "h-auto lg:h-28 my-6" }}
    {{ $div_pad = "px-10 md:px-6 lg:px-0" }}
    {{ else if (eq 5 (int .tier)) }}
    {{ $col_span = "col-span-full sm:col-span-3 lg:col-span-2" }}
    {{ $col_height = "h-auto lg:h-24 my-4" }}
    {{ $div_pad = "px-12 md:px-12 lg:px-0" }}
    {{ else if (eq 6 (int .tier)) }}
    {{ $col_span = "col-span-3 md:col-span-2 xl:col-span-1" }}
    {{ $col_height = "h-auto lg:h-16 my-2" }}
    {{ $div_pad = "px-8 sm:px-16 lg:px-0" }}
    {{ end }}
    <div class="{{ $col_span }} {{ $div_pad }} rounded-lg border bg-cover bg-center bg-no-repeat" style="background-image: url('{{.backgroundImage}}?auto=compress,format')">
      <a href={{.url}}><span class="sr-only">{{.name}}</span>
        <img class="{{ $col_height }} rounded-lg p-1 bg-white drop-shadow-[0_0_10px_rgba(0,0,0,1.0)] mx-auto" src="{{.logo}}?auto=compress,format" alt="{{.name}}">
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>