<div class="mx-auto my-6 py-8 px-4 lg:max-w-7xl {{with .divclass}}{{.}}{{end}}">
    <a href="{{.url}}" class="p-8 {{with .linkclass}}{{.}}{{end}}">
        {{.text}}
        {{ with .action }}
        <span class="underline font-bold whitespace-nowrap">{{ . }} <i class="icon-caret-right"></i></span>
        {{ end }}
    </a>
</div>