{{$step_count := 1}}
<section class="flex flex-col space-y-2 w-full max-w-7xl mx-auto px-4 2xl:px-0 {{ with .sectionclass}}{{.}}{{end}}l">
  {{ if .title }}
  <div>
    {{if .title_url }}
    <a href="{{.title_url}}">
      {{end}}
      <h2 class="text-2xl font-bold text-asfpurple mb-4">{{ .title }}</h2>
      {{if .title_url }}
    </a>{{end}}
    {{with .text}}
    {{ markdownify . }}
    {{ end }}
  </div>
  {{end}}
  <div class="{{if .horizontal }}grid grid-cols-1 md:grid-cols-2 gap-8{{else}}flex flex-col space-y-8{{end}} w-full {{with .divclass}}{{.}}{{end}}">
    {{ range .steps}}
    <div class="group">
      <div class="flex flex-row items-start space-x-4">
        <div class="flex flex-row space-x-4 w-full">
          <div class="not-prose">
            <a class="flex flex-col text-2xl shrink-0 items-center justify-center text-white bg-asfpurple rounded-full w-12 h-12 group-hover:text-white group-hover:ring-2 group-hover:ring-offset-4 group-hover:ring-asfpurple group-hover:outline-none group-hover:shadow-none transition-all duration-300" {{with .url}}href="{{.}}" {{end}}>
              {{ $step_count }}
            </a>
          </div>
          <div>
            {{if .heading_url }}
            <a name="{{ .heading }}" href="{{.heading_url}}">
              {{end}}
              <span class="text-lg text-asfpurple font-bold">{{ .heading }}</span>
              {{if .heading_url }}
            </a>
            {{end}}
            {{ with .subheading }}
            <br><span class="text-md text-ultraviolet font-bold">{{ . }}</span>
            {{ end }}
            <div class="prose">
              {{ markdownify .text }}
            </div>
          </div>
        </div>
        {{ if .action_url }}
        <a class="btn px-2 py-1 text-xs ml-4 shrink-0 whitespace-nowrap uppercase" name="{{.action}}" href="{{.action_url}}">
          {{.action}}
        </a>
        {{end}}
      </div>
    </div>
    {{$step_count = (add $step_count 1)}}
    {{end}}
  </div>
</section>