<section class="prose flex flex-col space-y-2 w-full max-w-7xl mx-auto py-8 px-4 2xl:px-0 {{ with .sectionclass}}{{.}}{{end}}">
    {{with .title}}<h1 class="text-asfpurple my-0">{{.}}</h1>{{end}}
    {{with .subtitle}}<h2 class="my-0">{{.}}</h2>{{end}}
    {{with .text}}<p>{{ markdownify .}}</p>{{end}}
    {{if .url }}
    <a class="btn" href="{{.url}}">{{.action}}</a>
    {{end}}
</section>